---

---

<section id="discount-special" class="bg-white">
  <div class="container mx-auto">
    <div
      class="flex flex-col gap-8 p-8 md:flex-row md:items-center md:justify-between"
    >
      <h2 class="text-2xl md:text-5xl font-semibold text-left text-gray-800">
        Join with me to get special discount
      </h2>
      <a
        href="#"
        class="text-sm md:text-lg text-white bg-primary-500 hover:bg-primary-600 font-semibold py-2 px-4 w-44 h-12 md:w-48 flex flex-row items-center justify-center gap-5"
      >
        Learn More
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="27"
          height="13"
          viewBox="0 0 27 13"
          fill="none"
        >
          <path
            d="M20.959 1.44165L26.0004 6.49998L20.959 11.5583"
            stroke="white"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M1 6.5L25.9166 6.5"
            stroke="white"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </a>
    </div>
  </div>
</section>
