---
import logo from "@/assets/icons/logo.svg?url";
import lalasia from "@/assets/icons/lalasia.svg?url";
---

<a href="/" class="flex items-center">
  <img src={logo} alt="Logo" class="h-11 w-auto" />
  <img src={lalasia} alt="Lalasia" class="h-4 w-auto" />
</a>
