---
// Search.astro
---

<div
  class="flex items-center p-4 h-14 w-full max-w-3xl md:max-w-full md:h-20 mx-auto bg-white border border-gray-300 overflow-hidden"
>
  <div class="flex items-center justify-center pl-0 md:pl-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 md:w-8 md:h-8 text-gray-400"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <circle cx="11" cy="11" r="8"></circle>
      <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
    </svg>
  </div>
  <input
    type="text"
    placeholder="Search property"
    class="flex-grow focus:outline-none"
  />
  <button
    class="bg-primary-500 text-white text-base md:px-2 md:py-2 w-26 h-9 md:w-44 md:h-14 font-medium hover:bg-primary/90 transition-colors"
  >
    Search
  </button>
</div>
